// Colors
$white: #fff1c8;
$orange: #f28106;
$brown: #410c00;

// Font-size
$mainFontSize: rem(16);


// Font-family
$latoItalic: "latoitalic", Arial, sans-serif;
$latoHeavy: "latoheavy", Arial, sans-serif;
$latoBold: "latobold", Arial, sans-serif;
$bernier: "bernier_shaderegular", Arial, sans-serif;
$nautilus: "nautilus_pompiliusregular", Arial, sans-serif;


// Screen sizes
$breakpoints: (
  "phone"       : 400px,
  "phone-wide"  : 480px,
  "phablet"     : 560px,
  "tablet-small": 640px,
  "tablet"      : 768px,
  "tablet-wide" : 1024px,
  "desktop"     : 1248px,
  "desktop-wide": 1440px
);


// Transition
$linear: all 0.2s linear;
$easy-in-out: all 0.2s ease-in-out;
