@mixin transition {
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      transition: transform 1s #{$i * 0.08}s cubic-bezier(0.29, 1.4, 0.44, 0.96);
    }
  }
}

.page-header {
  flex: 0 0 auto;
  padding-top: rem(4);
  padding-bottom: rem(8);
  color: #ffffff;
  background: #80512a url("../img/general/header-bg.jpg") center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 8px 8px rgba(0, 0, 0, 0.35), -1px 1px 10px 0 rgba(69, 69, 69, 1);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__toggle {
  z-index: 11;
  display: none;
  font-family: $nautilus;
  font-size: rem(20);
  color: $white;

  @media (max-width: 1170px) {
    display: block;
  }
}

.menu__toggle.active {
  position: fixed;
  top: rem(20);
  right: rem(25);
  width: 23px;
  height: 23px;
  font-size: 0;
  background: transparent url("../img/svg/close.svg") center/contain no-repeat;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1170px) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
    height: 100vh;
    padding: 10%;
    padding-top: rem(160);
    padding-bottom: rem(30);
    background: #290b01;
    border-bottom-left-radius: 100vw;
    transform: translate(100vw, 0);
    transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
  }

  @media (max-width: 768px) {
    width: 70vw;
  }

  @media (max-width: 450px) {
    width: 100vw;
  }
}

.menu.active {
  border-bottom: 5px solid $orange;
  border-bottom-left-radius: 0;
  transform: translateX(0);
}


// Nav
.menu__nav {
  margin-right: rem(25);

  @media (max-width: 1170px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: rem(30);
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 1170px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav__item {
  @media (max-width: 1170px) {
    margin-bottom: rem(45);
    transform: translateX(100vw);
  }
}

.menu.active .nav__item {
  transform: translateX(0);

@include transition;
}

.nav__item:not(:last-child) {
  margin-right: rem(25);

  @media (max-width: 1170px) {
    margin-bottom: rem(45);
  }
}

.nav__link {
  display: block;
  font-family: $nautilus;
  font-size: rem(24);
  color: $white;
  transition: $linear;
}

.nav__link.active,
.nav__link:hover,
.nav__link:focus {
  color: rgb(242, 129, 6);
  text-shadow: 0 1px 5px rgba(40, 19, 8, 0.4);
}


// Search
.menu__search {
  margin-right: rem(35);

  @media (max-width: 1170px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: rem(30);
  }
}

.menu-form__wrap {
  overflow: hidden;
}

.menu-form__block {
  position: relative;
}

.menu-form__field {
  padding-right: rem(35);
  padding-left: rem(20);
  font-family: $latoItalic;
  font-size: rem(13);
  line-height: rem(33);
  color: $orange;
  background-color: rgb(61, 35, 4);
  border: none;
  border-radius: rem(18);
  box-shadow: inset 0 3px 0 0 rgba(35, 13, 3, 0.8);

  @media (max-width: 1170px) {
    width: 100%;
  }
}

.menu-form__field::placeholder {
  font-family: $latoItalic;
  font-size: rem(13);
  color: $orange;
  opacity: 0.5;
}

.menu-form__submit {
  position: absolute;
  top: 50%;
  right: rem(10);
  width: rem(20);
  height: rem(20);
  padding: 0;
  background: transparent url("../img/svg/search.svg") center no-repeat;
  background-size: contain;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}


// Login
.menu-login {
  @media (max-width: 1170px) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.menu-login__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: rem(40);
  font-family: $nautilus;
  font-size: rem(24);
  color: $white;
  transition: $easy-in-out;
}

.menu-login__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: rem(30);
  height: rem(30);
  background: transparent url("../img/svg/login.svg") center/contain no-repeat;
  transform: translateY(-50%);
}

.nav__link.active,
.menu-login__link:hover,
.menu-login__linkk:focus {
  color: rgb(242, 129, 6);
  text-shadow: 0 1px 5px rgba(40, 19, 8, 0.4);
}
