.products .section__content {
  padding-top: rem(35);
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -19px;

  @media (max-width:768px) {
    margin-right: -10px;
  }
}

.products__item {
  max-width: 278px;
  margin-right: 19px;
  padding: rem(8);
  background: #ffffff;

  @media (max-width:768px) {
    margin-right: 10px;
  }
}

// Product
.product-item {
  margin-bottom: rem(20);
}

.product-item__link {
  display: flex;
  flex-direction: column-reverse;
}

.product-item__link:hover .product-item__img img,
.product-item__link:focus .product-item__img img {
  transform: scale(1.1);
}

.product-item__title {
  margin: 0;
  font-size: rem(21);
  text-align: center;
  color: $brown;
}

.product-item__img {
  width: 100%;
  height: rem(265);
  overflow: hidden;
  background: $brown;
}

.product-item__img img {
  width: 100%;
  transition: $linear;
}

.product-item__price {
  margin: 0;
  font-size: rem(21);
  line-height: 1;
  text-align: center;
  color: $orange;
}

.product-item__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: rem(5);
  line-height: 1;
}

.product-item__data,
.product-item__section,
.product-item__favourites {
  margin: 0;
  font-size: rem(13);
}

.product-item__data {
  position: relative;
  margin-right: rem(23);
  padding-left: rem(23);
}

.product-item__data::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: rem(18);
  height: rem(18);
  background: transparent url("../img/svg/calendar.svg") center/contain no-repeat;
}

.product-item__section {
  position: relative;
  padding-left: rem(20);
}

.product-item__section::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: rem(18);
  height: rem(18);
}

.product-item__section--transport::before {
  background: transparent url("../img/svg/transport.svg") center/contain no-repeat;
}
.product-item__section--market::before {
  background: transparent url("../img/svg/market.svg") center/contain no-repeat;
}
.product-item__section--services::before {
  background: transparent url("../img/svg/services.svg") center/contain no-repeat;
}
.product-item__section--equipment::before {
  background: transparent url("../img/svg/equipment.svg") center/contain no-repeat;
}

.product-item__favourites {
  margin-left: auto;
}

.favourites-form__field:checked + .favourites-form__field-title {
  background: transparent url("../img/svg/star.svg") center/contain no-repeat;
}

.favourites-form__field-title {
  cursor: pointer;
  display: block;
  width: rem(18);
  height: rem(18);
  background: transparent url("../img/svg/star-empty.svg") center/contain no-repeat;
}